https://drive.google.com/drive/folders/1oSorCVytYnDWRGm0ALBnoNPtmCzGzUir?usp=drive_link

In [ ]:
# Class and object
# Variable
#     Class variables
#     Instance Variables
    
# Inhertance
#     Types of Inheritance
#     super()
#     MRO
# Polymorphism
#     Duck typing
#     overloading
#     overriding
# Encapsulation
#     setter and getter
#     property
# Abstraction
#     Abstract classes
# Interface

In [ ]:
# OOPsaim to implement the real world entities in programming
# Binds the data and functions together for each object

In [ ]:
# Class - blueprints of a model which contain attributes and methods
# Binding data and methods together for each object separately
# It provides
#     Attributes/Variable   -Properties
#     Methods/functios - Behaviour

In [1]:
#Class is defined with class keyword with Class name in CamelCase

class ClassName:
    pass

In [2]:
class Human:
    pass

In [3]:
human1 = Human()

In [4]:
print(type(human1))

<class '__main__.Human'>

In [5]:
print(id(human1))

1253060477904

In [7]:
help(Human)

Help on class Human in module __main__:

class Human(builtins.object)
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

# Class

In [8]:
class Employee:
    pass

In [9]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>,
              '__doc__': None})

In [10]:
class Employee:
    '''
    This is an Employee class
    '''

In [11]:
Employee.__dict__

mappingproxy({'__module__': '__main__',
              '__doc__': '\n    This is an Employee class\n    ',
              '__dict__': <attribute '__dict__' of 'Employee' objects>,
              '__weakref__': <attribute '__weakref__' of 'Employee' objects>})

In [13]:
print(int.__doc__)

int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

In [17]:
emp1 = Employee()

In [18]:
# instance Attributes
emp1.name = 'John'

In [19]:
emp1.__dict__

{'name': 'John'}

# Instance Method

In [ ]:
# Instance Method - Method defined in a class and called using the object of that class

In [28]:
class Employee:
    def Working():
        hours = 8
        return hours

In [29]:
emp1 = Employee()

In [30]:
emp1.Working()

TypeError: Employee.Working() takes 0 positional arguments but 1 was given

In [ ]:
# When an instance method is called, the object itself get passed as the first argument to that method
# Employee.Working(emp1)

In [24]:
class Employee:
    def Working(self):
        hours = 8
        return hours

In [25]:
emp1 = Employee()

In [26]:
(emp1.Working())

8

In [27]:
Employee.Working(emp1)

8

In [32]:
class Employee:
    def Working(self):
        hours = 8
        return hours
    def details(self,name,emp_id):
        return f'Employee name is {name} and id is {emp_id} '

In [33]:
emp3 = Employee()

In [34]:
emp3.details('Das','619654')

'Employee name is Das and id is 619654 '

# Initializer

In [ ]:
# Initializer / Constructor
# also an Instance Methods and used to initialize an object of a class
# __init__()

In [46]:
class Employee:
    def __init__(self, name, emp_id, salary=10000):
        self.name = name
        self.emp_id = emp_id
        self.sal = salary

In [47]:
emp4 = Employee('Gana','620409')
print(emp4)
print(emp4.name)
emp4.__dict__

<__main__.Employee object at 0x00000123C1A04690>
Gana

{'name': 'Gana', 'emp_id': '620409', 'sal': 10000}

In [48]:
emp5 = Employee('Yad','18342',200000)

In [49]:
emp5.__dict__

{'name': 'Yad', 'emp_id': '18342', 'sal': 200000}

# Instance variables

#### Variables that are specific to an object (here emp4 and emp5 are instant object )
##### There are different instance variables for each object

In [52]:
print(emp4.name)
print(emp4.emp_id)
print(emp4.sal)
print()
print(emp5.name)
print(emp5.emp_id)
print(emp5.sal)

Gana
620409
10000

Yad
18342
200000

# Class Variables


#### Variables defined at class level
#### variables are bound to the class
#### same copy of the class variables will be shared to each object

In [54]:
class Employee:
    company = 'ABC'
    departments = ['HR','Account','Finance','IT']
    
    def __init__(self, name, emp_id,email):
        self.Name = name
        self.Emp_id = emp_id
        self.Emp_email = email

In [62]:
emp1 = Employee('Jam',10234,'dasjam12@xyzmail.com')
print(type(emp1))
# print(help(emp1))
print(emp1.__dict__)
emp1.Name

<class '__main__.Employee'>
{'Name': 'Jam', 'Emp_id': 10234, 'Emp_email': 'dasjam12@xyzmail.com'}

'Jam'

# class Methods

In [64]:
class Welcome():
    def greet():
        return 'Welcome to the class'

In [65]:
w1 = Welcome()

In [66]:
w1.greet()

TypeError: Welcome.greet() takes 0 positional arguments but 1 was given

#####  By default all methods are instance methods
##### # to create class method, use  @classmethod decorator

In [68]:
class Welcome():
    
    @classmethod
    def greet():
        return 'Welcome to the class'

In [69]:
w1 = Welcome()
w1.greet()

TypeError: Welcome.greet() takes 0 positional arguments but 1 was given

In [71]:
class Welcome():
    
#     @classmethod
    def greet(self):
        return f'Welcome to the class {self}'
w1 = Welcome()
w1.greet()

'Welcome to the class <__main__.Welcome object at 0x00000123C1AA7ED0>'

In [72]:
class Welcome():
    
    @classmethod
    def greet(cls):
        return f'Welcome to the class {cls}'
w1 = Welcome()
w1.greet()

"Welcome to the class <class '__main__.Welcome'>"

In [73]:
class Welcome():
    
    @classmethod
    def greet(cls):
        return f'Welcome to the class '
w1 = Welcome()
w1.greet()

'Welcome to the class '

In [89]:
class Employee:
    company = 'ABC'                                    # class variable
    departments = ['HR','Account','Finance','IT']
    
    def __init__(self, name, emp_id, email):    # initializer/Constructor
        self.Name = name                        # instance varibale
        self.Emp_id = emp_id
        self.Emp_email = email
        
    def Working(self):                       # instance method - bound to instance/object
        hours = 8
        return hours
    
    def details(self):            # instance method
        return f'Employee name is {self.Name} and id is {self.Emp_id} '
    
    @classmethod                               # class method - bound to class
    def greet(cls):
        return f'Welcome to the class '

In [76]:
e1 = Employee()

TypeError: Employee.__init__() missing 3 required positional arguments: 'name', 'emp_id', and 'email'

In [91]:
e1 = Employee('John','624102','john@abcmail.com')
print(e1.details())
print(e1.greet())

Employee name is John and id is 624102
Welcome to the class

# Static Methods:

#### not bound to anything (object or class)
#### static method is created using @staticmethod decorators

In [92]:
class Static:
    
    @staticmethod
    def welcome():
        return 'Welcome'

In [94]:
s1 = Static()
s1.welcome()

'Welcome'

In [97]:
print(type(s1.welcome))

<class 'function'>

In [100]:
print(type(e1.greet))

<class 'method'>

In [ ]:
# function bound to a class is method and the function which are not bounded to class then it is functions only
# so @classmethod type, the function inside it is method
# and @staticmethod type, the function that are inside the staticmethod, it is function only

# Access Specifiers

In [1]:
# it provides accessability of the variables
# implementing data hiding

In [ ]:
# publi = accessable by everyone - inside the class and outside the class
# private =  only accessable to that class where it is defined
#protected =  accessable to the class and its child class - not accessabile outside the class

In [3]:
class Employee:
    
    company = 'ABC'       #public
    _department = 'IT'    # protected(preceeding _)
    __salary = 20000    #private (preceeding __)

In [5]:
e1 = Employee()

In [7]:
e1.company  #public

'ABC'

In [9]:
e1._department  # In python, ther is no true protected access specifier

'IT'

In [10]:
e1.__salary

AttributeError: 'Employee' object has no attribute '__salary'

In [11]:
dir(e1)

['_Employee__salary',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_department',
 'company']

In [12]:
print(e1._Employee__salary)

20000

In [ ]:
# __var = _clas__var is called Name mangling

# Encapsulation

In [ ]:
# Ecapsulation means binding of data and methods
# attributes of the class should not be accessable

In [ ]:
# To avoid direct usage of attributes, we use Getter and Setter methods

In [6]:
class Employee:
    company = 'ABC'
    departments = ['HR','IT']
    
    def __init__(self,name,emp_id,email,sal):
        self.Name = name
        self.Emp_id = emp_id
        self.email = email
        self.sal = sal
        
    def get_salary(self):     #getter method
        return self.sal
    
    def set_salary(self,new_sal):
        self.sal = new_sal

In [8]:
e1 = Employee("John",612934,'john@abcmail.com',200000)
print(e1)
print(e1.__dict__)

<__main__.Employee object at 0x00000160CDCBBB90>
{'Name': 'John', 'Emp_id': 612934, 'email': 'john@abcmail.com', 'sal': 200000}

In [10]:
e1.set_salary(275000)

In [11]:
print(e1.__dict__)

{'Name': 'John', 'Emp_id': 612934, 'email': 'john@abcmail.com', 'sal': 275000}

In [13]:
e1.set_salary(-1000)

In [14]:
print(e1.__dict__)

{'Name': 'John', 'Emp_id': 612934, 'email': 'john@abcmail.com', 'sal': -1000}

In [15]:
class Employee:
    company = 'ABC'
    departments = ['HR','IT']
    
    def __init__(self,name,emp_id,email,sal):
        self.Name = name
        self.Emp_id = emp_id
        self.email = email
        self.sal = sal
        
    def get_salary(self):     #getter method
        return self.sal
    
    def set_salary(self,new_sal):
        if new_sal < 0:
            print('Negative value not allowed')
        else:
            self.sal = new_sal

In [16]:
e1 = Employee("John",612934,'john@abcmail.com',200000)
print(e1)
print(e1.__dict__)

<__main__.Employee object at 0x00000160CDBA4E10>
{'Name': 'John', 'Emp_id': 612934, 'email': 'john@abcmail.com', 'sal': 200000}

In [17]:
e1.set_salary(-1000)

Negative value not allowed

In [18]:
e1.set_salary = -1000

In [19]:
print(e1.__dict__)

{'Name': 'John', 'Emp_id': 612934, 'email': 'john@abcmail.com', 'sal': 200000, 'set_salary': -1000}

In [70]:
class Employee:
    company = 'ABC'
    departments = ['HR','IT']
    
    def __init__(self,name,emp_id,email,sal):
        self.Name = name
        self.Emp_id = emp_id
        self.email = email
        self.__sal = sal
        
    def get_salary(self):     #getter method
        return self.__sal
    
    def set_salary(self,new_sal):
        if new_sal < 0:
            print('Negative value not allowed')
        else:
            self.__sal = new_sal

In [71]:
e1 = Employee("John",612934,'john@abcmail.com',200000)
print(e1)
print(e1.__dict__)

<__main__.Employee object at 0x00000160CDC72010>
{'Name': 'John', 'Emp_id': 612934, 'email': 'john@abcmail.com', '_Employee__sal': 200000}

In [72]:
e1.set_salary(-1000)

Negative value not allowed

In [73]:
print(e1.get_salary())
e1.set_salary(350000)
print()
print(e1.get_salary())

200000

350000

In [74]:
print(e1.__dict__)

{'Name': 'John', 'Emp_id': 612934, 'email': 'john@abcmail.com', '_Employee__sal': 350000}

In [75]:
e1.set_sal = -1000

In [76]:
print(e1.__dict__)

{'Name': 'John', 'Emp_id': 612934, 'email': 'john@abcmail.com', '_Employee__sal': 350000, 'set_sal': -1000}

In [77]:
e1.set_salary(450000)

In [78]:
print(e1.__dict__)

{'Name': 'John', 'Emp_id': 612934, 'email': 'john@abcmail.com', '_Employee__sal': 450000, 'set_sal': -1000}

In [82]:
print(e1.Name)
print(e1.Emp_id)
print(e1.email)
print(e1.get_salary())
print(e1._Employee__sal)   #Name mangling

John
612934
john@abcmail.com
450000
450000

## In Python, we use @property decorator to implement getter and setter

######  while @property decorator returns datatype value and it is a not a method(function) in a class

In [84]:
class Employee:
    company = 'ABC'
    departments = ['HR','IT']
    
    def __init__(self,name,emp_id,email,sal):
        self.Name = name
        self.Emp_id = emp_id
        self.email = email
        self.__sal = sal
    
    @property    
    def salary(self):     #getter method
        return self.__sal

In [87]:
emp3 = Employee('Das','12093','das@abcmail.com',226700)
emp3.__dict__

{'Name': 'Das',
 'Emp_id': '12093',
 'email': 'das@abcmail.com',
 '_Employee__sal': 226700}

In [88]:
print(emp3.salary)

226700

In [89]:
emp3.salary()

TypeError: 'int' object is not callable

In [103]:
class Employee:
    company = 'ABC'
    departments = ['HR','IT']
    
    def __init__(self,name,emp_id,email,sal):
        self.Name = name
        self.Emp_id = emp_id
        self.email = email
        self.__sal = sal
    
    @property    
    def salary(self):     #getter method
        return self.__sal
    
    @salary.setter
    def upd_salary(self,new_sal): ## setter method
        if new_sal < 0:
            print('Negative value not allowed')
        else:
            self.__sal = new_sal

In [104]:
emp4 = Employee('soas',345433,'soas@abcmail.com',200700)
emp4.__dict__

{'Name': 'soas',
 'Emp_id': 345433,
 'email': 'soas@abcmail.com',
 '_Employee__sal': 200700}

In [105]:
emp4.salary

200700

In [106]:
emp4.upd_salary = 500000

In [107]:
emp4.salary

500000

In [109]:
emp4.upd_salary = -150

Negative value not allowed

In [111]:
emp4.upd_salary(450000)

TypeError: 'int' object is not callable

# Inheritance

In [ ]:
# inherit the attributes and methods of a class in another class

In [118]:
class Vehicle:
    
    company = 'BMW'
    
    def __init__(self,mileage, fuel_capacity,engine):
        self.m = mileage
        self.f = fuel_capacity
        self.e = engine
        
    def vehicle_details(self):
        return f'{self.company} vehicle has mileage of {self.m} and fuel capacity of {self.f} with {self.e} cylider engine'

In [119]:
v1 = Vehicle(60,30,2)

In [120]:
v1.vehicle_details()

'BMW vehicle has mileage of 60 and fuel capacity of 30 with 2 cylider engine'

In [121]:
class Car(Vehicle):
    pass

In [126]:
c1 = Car(30,17,3)

In [127]:
c1.vehicle_details()

'BMW vehicle has mileage of 30 and fuel capacity of 17 with 3 cylider engine'

In [128]:
# parent class
class Vehicle:
    
    company = 'BMW'
    
    def __init__(self,mileage, fuel_capacity,engine):
        self.m = mileage
        self.f = fuel_capacity
        self.e = engine
        
    def vehicle_details(self):
        return f'{self.company} vehicle has mileage of {self.m} and fuel capacity of {self.f} with {self.e} cylider engine'

# child class
class Car(Vehicle):
    def __init__(self,seats):
        self.s = seats
    def car_details(self):
        return f'Car is {self.s}  seater vehicle'

In [129]:
c = Car(4)

In [130]:
c.car_details()

'Car is 4  seater vehicle'

In [131]:
c.vehicle_details()

AttributeError: 'Car' object has no attribute 'm'

In [135]:
# parent class
class Vehicle:
    
    company = 'BMW'
    
    def __init__(self,mileage, fuel_capacity,engine):
        self.m = mileage
        self.f = fuel_capacity
        self.e = engine
        
    def vehicle_details(self):
        return f'{self.company} vehicle has mileage of {self.m} and fuel capacity of {self.f} with {self.e} cylider engine'

# child class
class Car(Vehicle):
    def __init__(self,seats,mil,fc,eng):
        self.s = seats
        Vehicle.__init__(self,mil,fc,eng)
        
        
        
    def car_details(self):
        return f'Car is {self.s}  seater vehicle'

In [136]:
c1 = Car(4,30,50,4)

In [138]:
print(c1.company)
print(c1.car_details())
print(c1.vehicle_details())

BMW
Car is 4  seater vehicle
BMW vehicle has mileage of 30 and fuel capacity of 50 with 4 cylider engine

In [145]:
# parent class
class Vehicle:
    
    company = 'BMW'
    
    def __init__(self,mileage, fuel_capacity,engine):
        self.m = mileage
        self.f = fuel_capacity
        self.e = engine
        
    def vehicle_details(self):
        return f'{self.company} vehicle has mileage of {self.m} and fuel capacity of {self.f} with {self.e} cylider engine'

# child class
class Car(Vehicle):
    def __init__(self,seats,mil,fc,eng):
        self.s = seats
        Vehicle.__init__(self,mil,fc,eng)
        
        
        
    def car_details(self):
        print(self.vehicle_details())
        return f'Car is {self.s}  seater vehicle  of {self.company} vehicle has mileage of {self.m} and fuel capacity of {self.f} with {self.e} cylider engine'

In [146]:
c2 = Car(4,30,50,4)
print(c2.car_details())

BMW vehicle has mileage of 30 and fuel capacity of 50 with 4 cylider engine
Car is 4  seater vehicle  of BMW vehicle has mileage of 30 and fuel capacity of 50 with 4 cylider engine

# super method
#### used to call parent class

In [147]:
# parent class
class Vehicle:
    
    company = 'BMW'
    
    def __init__(self,mileage, fuel_capacity,engine):
        self.m = mileage
        self.f = fuel_capacity
        self.e = engine
        
    def vehicle_details(self):
        return f'{self.company} vehicle has mileage of {self.m} and fuel capacity of {self.f} with {self.e} cylider engine'

# child class
class Car(Vehicle):
    def __init__(self,seats,mil,fc,eng):
        self.s = seats
        super().__init__(mil,fc,eng)
#         Vehicle.__init__(self,mil,fc,eng)
        
        
        
    def car_details(self):
        
        print(self.vehicle_details())
        print(super().vehicle_details())
        print(Vehicle.vehicle_details(self))
        return f'Car is {self.s}  seater vehicle  of {self.company} vehicle has mileage of {self.m} and fuel capacity of {self.f} with {self.e} cylider engine'
    
    
c3 = Car(4,18,55,4)
c3.car_details()

BMW vehicle has mileage of 18 and fuel capacity of 55 with 4 cylider engine
BMW vehicle has mileage of 18 and fuel capacity of 55 with 4 cylider engine
BMW vehicle has mileage of 18 and fuel capacity of 55 with 4 cylider engine

'Car is 4  seater vehicle  of BMW vehicle has mileage of 18 and fuel capacity of 55 with 4 cylider engine'

In [150]:
# parent class
class Vehicle:
    
    company = 'BMW'
    
    def __init__(self,mileage, fuel_capacity,engine):
        self.m = mileage
        self.f = fuel_capacity
        self.e = engine
        
    def vehicle_details(self):
        return f'{self.company} vehicle has mileage of {self.m} and fuel capacity of {self.f} with {self.e} cylider engine'

class Color:
    
    def __init__(self,color):
        self.c = color

        
class Type:
    def __init__(self,engine_type):
        self.t = engine_type
    
class Car(Vehicle,Color,Type):
    def __init__(self,seats,mil,fc,eng,col,ty):
        self.s = seats
#         Vehicle.__init__(self,mil,fc,eng)
        super().__init__(mil,fc,eng)

#         Color.__init__(self,color)
        super(Vehicle,self).__init__(col)
        
#         Type.__init__(self,typ)
        super(Color,self).__init__(ty)

        
        
        
    def car_details(self):
        return f'{self.c} Car is {self.s}  seater vehicle  of {self.company} vehicle has mileage of {self.m} and fuel capacity of {self.f} with {self.e} cylider {self.t} engine'

In [151]:
c4 = Car(4,17,50,4,'Blue','Petrol')

In [152]:
c4.car_details()

'Blue Car is 4  seater vehicle  of BMW vehicle has mileage of 17 and fuel capacity of 50 with 4 cylider Petrol engine'

## Multilevel Inheritance

In [ ]:
# A -> B -> C

In [155]:
class Company:
    company = 'Siemens'
class Department(Company):
    dept_name = 'System Engineer'
class Employee(Department):
    def __init__(self,name,emp_id):
        self.name = name
        self.id = emp_id
        
    def get_details(self):
        print(f'{self.name} with employee id {self.id} work in {super().dept_name} for {super().company}')
        return f'{self.name} with employee id - {self.id}, work in {self.dept_name} for {self.company}'

In [156]:
e1 = Employee('Suswa','92bG23')
e1.get_details()

Suswa with employee id 92bG23 work in System Engineer for Siemens

' Suswa with employee id 92bG23 work in System Engineer for Siemens'

# Method Resolution Order (MRO)

In [ ]:
#  the order in which methods will be called

In [158]:
# help(Employee)
Employee.__mro__

(__main__.Employee, __main__.Department, __main__.Company, object)

In [159]:
print(e1.company)

Siemens