In [22]:
import numpy as np
import pandas as pd

# Series

In [2]:
name = ['raghu','sun','sani','chandra','kedhu']
name

['raghu', 'sun', 'sani', 'chandra', 'kedhu']

In [4]:
nav = pd.Series(name)
nav

0      raghu
1        sun
2       sani
3    chandra
4      kedhu
dtype: object

In [5]:
nav_ser = pd.Series(name, index = ['A','B','C','D','E'])
nav_ser

A      raghu
B        sun
C       sani
D    chandra
E      kedhu
dtype: object

In [10]:
nav_ser = pd.Series(name, index = list('ZYWXV'))
nav_ser

Z      raghu
Y        sun
W       sani
X    chandra
V      kedhu
dtype: object

In [6]:
list(nav_ser)

['raghu', 'sun', 'sani', 'chandra', 'kedhu']

In [12]:
dic = {'name1': 'Ani','name2':'Bal','name3':'Cath','name4':'Derk'}
se_dic = pd.Series(dic)
se_dic

name1     Ani
name2     Bal
name3    Cath
name4    Derk
dtype: object

In [18]:
print(se_dic[0])
print('name2')
print(se_dic.iloc[2])

Ani
name2
Cath

In [19]:
l1 = ['teuer','dunkell','hubsich','freundlich']
l2 = ['billig','hell','hasslich','unfreundlich']
ser_gegenteil = pd.Series(l2, index= l1)
ser_gegenteil

teuer               billig
dunkell               hell
hubsich           hasslich
freundlich    unfreundlich
dtype: object

In [20]:
ser_gegenteil[::2]

teuer        billig
hubsich    hasslich
dtype: object

In [21]:
ser_gegenteil[:'hubsich']

teuer        billig
dunkell        hell
hubsich    hasslich
dtype: object

# DataFrame

In [23]:
emp_df = pd.DataFrame()
emp_df

Empty DataFrame
Columns: []
Index: []

In [24]:
gegenteil_df1 = pd.DataFrame(l1, columns= ['word'])
gegenteil_df1

         word
0       teuer
1     dunkell
2     hubsich
3  freundlich

In [28]:
gegenteil_df2 = pd.DataFrame(l2, columns= ['Opposite word'])
gegenteil_df2

  Opposite word
0        billig
1          hell
2      hasslich
3  unfreundlich

In [38]:
gegenteil_df3 = list(zip(l1, l2))
gegenteil_df3

[('teuer', 'billig'),
 ('dunkell', 'hell'),
 ('hubsich', 'hasslich'),
 ('freundlich', 'unfreundlich')]

In [39]:
gegenteil_df = pd.DataFrame(gegenteil_df3, columns = ['word','opposite word'])
gegenteil_df

         word opposite word
0       teuer        billig
1     dunkell          hell
2     hubsich      hasslich
3  freundlich  unfreundlich